digraph {
{{ range $container := .Containers }}
"{{ .Name }}" [style=bold]
{{ range .RunParams.Link }} "{{ $container.Name }}"->"{{ . }}"
{{ end }}{{ range .RunParams.VolumesFrom }} "{{ $container.Name }}"->"{{ . }}" [style=dashed]
{{ end }}{{ if ne .RunParams.Net "bridge" }} "{{ $container.Name }}"->"{{ .RunParams.Net }}" [style=dotted]
{{ end }}
{{ end }}
}